/* 

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.app {
  text-align: center;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/016/901/327/small_2x/abstract-white-and-blue-color-modern-design-background-with-geometric-round-shape-illustration-vector.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
} */
